[Match]
Name=wlan0

[Network]
Description=Wireless
DHCPServer=yes

[Address]
Address=10.10.0.1/24
Broadcast=10.10.0.255

[DHCPServer]
PoolOffset=10
PoolSize=40
EmitDNS=no
EmitTimezone=no
DefaultLeaseTimeSec=600
MaxLeaseTimeSec=7200
