[Unit]
Description=Creates a dummy hostapd.conf with the ssid replaced by the current adapter's mac address
After=sys-subsystem-net-devices-wlan0.device
BindsTo=sys-subsystem-net-devices-wlan0.device

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/mac-ssid.sh

[Install]
WantedBy=multi-user.target
